// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
  
@import "bootwood/global";
@import "bootwood/blog-posts";
@import "bootwood/claims";
@import "bootwood/contact-webform";
@import "bootwood/find-dealer";
@import "bootwood/downloads";
@import "bootwood/navigation-menu";
@import "bootwood/footer";
@import "bootwood/projects";
@import "bootwood/slider";
@import "bootwood/newsletter_signup";
@import "bootwood/whatisbootwood";
@import "bootwood/about-us";
@import "bootwood/products";
@import "bootwood/wheretobuy";
@import "bootwood/media";
@import "bootwood/videos";
@import "bootwood/benefits";
@import "bootwood/pro-team";
@import "bootwood/warranty-webform";
@import "bootwood/faq";
@import "bootwood/samples";
@import "bootwood/checkout";
@import "bootwood/in-the-news-frontpage-view";
@import "bootwood/media-content";
@import "bootwood/sidebar";
@import "bootwood/search";
@import "bootwood/get-offer";
@import "bootwood/ba-block";
@import "bootwood/about-us-font-page";
@import "bootwood/claim-summary-table";
@import "bootwood/bim-and-dwg";
@import "bootwood/maintenance-mode";


// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  border: 0;
  color: $bootwood-dark-grey;
  font-family: $font-primary;
  margin: 40px 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}
