.page-node-type-page {
  article[data-history-node-id="164"] .content {
    .field--name-body {

      #benefits {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}