
.ui-widget-content {

  .ui-widget-header {
    background: none;
    border: none;

    .ui-dialog-title {
      font-size: 30px;
      text-align: center;
      color: $bootwood-orange;
    }
    .ui-dialog-titlebar-close {
      background: none;
      border: none;
      top: 27%;
      width: 25px;
      height: 25px;
    }
    button {
      .ui-button-icon {
        background: url(../images/nav-open.png) center center no-repeat white;
        background-size: 15px 15px;
      }
    }
  }

  .webform-submission-add-form {
    .js-form-required {
      &::after {
        margin-bottom: 7px;
      }
    }
    .form-item {
      input[type="text"], input[type="email"], textarea {
        border: 1px solid $bootwood-grey;
        border-radius: 0;
        margin: 0 auto;
        display: block;
        box-shadow: none;
        &:focus, &:hover {
          border: 1px solid $bootwood-orange;
        }
      }
    }
    .form-type-checkbox {
      input + i:before {
        width: 17px;
        height: 17px;
        background-color: white;
        content: "";
        display: inline-block;
        border-radius: 5px;
        margin-left: -21px;
        margin-top: 0px;
        position: absolute;
        border: 1px solid #f79d19;
      }

      input:checked + i:before {
        content: "✔";
        font-size: 12px;
        color: #f79d19;
        padding: 0px 3px;
        position: absolute;
      }

      .description {
        margin: -21px 45px 0px;
        width: 75%;
        a, a:hover {
          color: $bootwood-orange;
        }
      }
    }
  }
}
