body.maintenance-page {
  margin-top: 0;
  background-color: $bootwood-background;
  .dialog-off-canvas-main-canvas {
    min-height: -webkit-fill-available;

    header {
      position: inherit;

      .container {
        padding: 0;
        width: 85vw;

        .navbar-header {
          padding: 25px 0;

          .logo.navbar-btn {
            @media screen and (min-width: $screen-md) {
              padding: 0;
              width: 10%;
            }

            img {
              height: 60px;
              width: auto;

              @media screen and (min-width: 2560px) {
                height: 120px;
              }
            }

          }
        }
      }
    }

    main {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      @media screen and (min-width: 1920px) {
        min-height: calc(100vh - 401px);
      }

      .site--slogan {
        .name.navbar-brand {
          color: $bootwood-dark-grey;
          font-size: 32px;
          display: inline-block;
          float: unset;

          @media screen and (min-width: 2560px) {
            font-size: 70px;
          }
        }

        .navbar-text {
          display: inline-block;
          float: unset;

          @media screen and (min-width: 2560px) {
            font-size: 60px;
          }
        }
      }

      .maintenance--container {
        .maintenance--title {
          margin-top: 50px;

          @media screen and (min-width: 2560px) {
            font-size: 70px;
            margin-top: 90px;
            margin-bottom: 30px;
          }
        }

        @media screen and (min-width: 2560px) {
          font-size: 50px;

          .maintenance--title {
            font-size: 70px;
          }
        }
      }

    }
  }
}
