@mixin learn-more-button() {
  background-color: $bootwood-orange;
  float: right;
  padding: 2px 22px;
  text-align: center;
  width: 120px;

  a {
    color: white;
  }
}

@keyframes button-arrow-down {
  0%   {top: calc(25% + 12px);}
  100% {top: calc(25% - 12px);}
}

// ====================
// Single project view
// ====================

.page-node-type-project {

  // hide default tile
  article>h2 {
    display: none;
  }

  // First gallery image
  .block-views-blockprojects-block-3 {
    .view-content {
      position: relative;
    }

    // header wrapper
    .header-project {
      display: flex;

      // title header
      .header-left {
        align-self: center;
        flex: 1;

        //back to projects
        .views-field-nothing {
          a {
            color: $bootwood-orange;
            @include left_arrow();
          }
        }

        //title of the project
        .views-field-title-1 {
          h2 {}
        }
      }

      .header-right img {
        width: 100%;
      }

    }

    // who, where, when
    .project-info-wrapper {
      display: flex;
      bottom: -1px;
      position: absolute;
      width: 100%;

      .project-info-1,
      .project-info-2 {
        background: $bootwood-background;
        padding: 30px 15px;

        .views-field-field-project-when {
          padding-left: 8px;
        }

        .views-field-nothing-1 {
          background: $bootwood-orange;
          bottom: 0;
          cursor: pointer;
          height: 100px;
          position: absolute;
          right: -75px;
          width: 75px;

          &:before {
            content: '\2192';
            color: white;
            font-size: 40px;
            left: 23%;
            position: absolute;
            transform: rotate(90deg);
            top: 25%;
            transition: top .25s ease-in-out;
          }
          &:hover:before {
            top: calc(25% + 12px);
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
            animation-delay: .25s;
            animation-duration: 0.4s;
            animation-name: button-arrow-down;
          }
        }

        // See product button
        .views-field-view-node {
          margin-top: 20px;

          .button-orange {
            background-color: transparent;
            border: 0;
            font-weight: normal;
            padding-left: 0;

            a {
              @include right_arrow();
              &:hover {
                color: $bootwood-orange;
              }
            }

          }
        }

        span {
          font-size: 12px;
        }

        .views-field-title {
          font-weight: normal;
        }
      }

    }
  }

  .project {
    .content {
      .field--name-field-project-photographer {
        padding: 8% 0 15%;

        &:before {
          content: ' ';
          background: url('/themes/custom/bootwood/images/camera.svg') no-repeat center;
          width: 16px;
          height: 12px;
          background-size: cover;
          position: absolute;
          margin-top: 3px;
          left: -17px;
        }
      }
    }
  }

  //slider
  .slick {
    @include full-width-slider();
    clear: both;

    // buttons
    .slick-prev {
      left: 11%;
    }

    .slick-next {
      right: 11%;
    }

    .slick-prev.slick-arrow,
    .slick-next.slick-arrow {
      &:before {
        height: 42px;
        width: 42px;
        top: 0;
        opacity: 1;
        background-color: transparent;
        transition: background-color .3s linear;
      }

      &:hover {
        &:before {
          background-color: rgba(109, 109, 109, .6);

        }
      }
    }
  }

  .field--name-body,
  .field--name-field-project-photographer {
    @include make-md-column(9, $gutter: 8px);
    @include make-md-column-offset(3);
  }

  .field--name-body {
    margin-bottom: 100px;
  }

  .field--name-field-image-with-text {
    clear: both;
  }

  //related projects block
  .block-releted-projects-block {
    h2 {
      margin: 90px 0;
      text-align: center;
    }

    .views-element-container {
      .views-field-title {
        font-size: 24px;
        margin-bottom: 22px;
      }

      .views-field-view-node {
        a {
          color: $bootwood-orange;
        }
      }
    }
  }



  @media screen and (max-width: 1500px) {
    .header-left {
      margin-bottom: 13%;
    }
  }

  @media screen and (max-width: $screen-lg) {
    .project-info-wrapper {
      left: 2.3%;
    }
  }
  .block-views-blockprojects-block-3 .project-info-wrapper {
    @media screen and (max-width: $screen-xs) {
      position: relative;

      .views-field.views-field-nothing-2 {
        bottom: auto;
        margin: 0;
        right: -15px;
        top: -1px;
      }
    }
    @media screen and (max-width: $screen-md){
      .views-field {
        margin: 2% 5% 0;
        &.views-field-nothing-2 {
          margin: 0;
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    .view-display-id-block_3 {
      max-width: 100vw;
      margin-left: -30px;
      width: 100vw;
      overflow: hidden;
      .header-right {
        img {
          width: 100vw;
        }
      }
    }

    .project-info-wrapper {
      left: 0;

      .mobile-title {
        background-color: $bootwood-background;
        padding: 3% 0 5% 5%;
        width: calc(100% - 35px);

        .views-field-title-2 {
          border-bottom: 2px solid #f79d19;
          font-size: 10px;
          font-weight: bold;
          letter-spacing: 1px;
          margin: 0 5%;
          text-transform: uppercase;
          width: max-content;
        }

        .views-field-field-project-where-1 {
          font-size: 22px;
          margin: 2% 5% 0px;
        }

        .views-field-nothing-2 {
          @include button-slider-orange();

          @media screen and (max-width: $screen-md) {
            @include square-button-orange();
            right: -15px;
            &:before {
              left: 35%;
            }
          }
        }
      }
    }



    .block-releted-projects-block {
      h2 {
        margin: 40px 0;
      }

      .views-element-container {
        .views-field-view-node {
          margin: 20px 0 140px;

          a {
            @include learn-more-button();
            color: white;
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    .view-display-id-block_3 {
      margin-left: -11vw;
    }
  }

  @media screen and (max-width: $screen-sm) {}

  @media screen and (max-width: $screen-xs) {}
}

// ============================
// Reference projects view all
// ============================
.path-projects div[role=heading] .page-header {
  @media screen and (max-width: $screen-md) {
    display: none;
  }
}

.path-projects,
.path-inside-bootwood {
  div[role=heading] .page-header {
    font-family: $font-primary;

    @media screen and (max-width: $screen-lg) {
      margin-left: 26%;
      width: 74%;
    }
  }

  .view-content .row {

    @media screen and (min-width: $screen-md) {
      display: flex;

      &>div {
        flex: 1;
        display: flex;

        &:last-child {
          flex: unset;
        }
      }
    }

    .project-wrap {
      background-color: white;
      color: $bootwood-dark-grey;
      font-family: $font-primary;
      margin-right: 10%;
      padding: 0;
      margin-bottom: 20%;
      flex: 1;

      .views-field-field-project-where {
        padding: 0 5% 5% 5%;

        .field-content {
          border-bottom: 2px solid $bootwood-orange;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 0.5px;
          padding-bottom: 1%;
          text-transform: uppercase;
          width: max-content;
        }
      }

      .views-field-field-blog-image img {
        width: 100%;
      }

      .views-field-title {
        font-size: 16px;
        padding-left: 5%;

        @media screen and (min-width: $screen-lg) {
          font-size: 24px;
        }
      }
      .views-field-field-blog-post-date {
        padding: 10px 0 0 5%;
        .field-content {
          color: $bootwood-orange;
        }
      }

      .views-field-view-node-1 {
        margin: 15px 0 90px;

        .field-content {
          a {
            @include square-button-arrow-small-right();
            background-color: #f79d19;
            bottom: 0px;
            height: 50px;
            padding: 0;
            position: absolute;
            right: 0px;
            width: 50px;

            &:before {
              content: " ";
              background: url(/themes/custom/bootwood/images/button_big_white_arrow-right.svg) no-repeat center;
              background-size: cover;
              bottom: 17.5px;
              right: 13.5px;
              height: 17px;
              position: absolute;
              width: 23px;

              @media screen and (max-width: $screen-lg) {
                right: 28%;
              }

              @media screen and (max-width: $screen-md) {
                bottom: 21.5px;
                right: 18.5px;
              }

              @media screen and (max-width: $screen-xs) {
                bottom: 14px;
                right: 11px;
              }
            }

            @media screen and (max-width: $screen-md) {
              height: 60px;
              width: 60px;
            }

            @media screen and (max-width: $screen-xs) {
              height: 45px;
              width: 45px;
            }
          }
        }
      }
    }

    // First project view
    .attachment-before {
      margin-bottom: 20%;

      .project-first-wrapper {
        position: relative;

        .projects-right {
          background-color: white;
          bottom: 29px;
          padding: 45px 25px 0px 45px;
          position: absolute;
          right: 11%;

          .views-field-title {
            a {
              color: $bootwood-dark-grey;
              font-size: 30px;
            }
          }

          .views-field-field-project-type {
            margin: 20px 0 0;
          }

          .views-field-body {
            margin: 20px 0 0;
          }

          .views-field-view-node {
            margin: 30px 0 0;

            a {
              color: $bootwood-orange;
            }
          }
        }
      }

      @media screen and (max-width: $screen-md) {
        margin-bottom: 0;

        .project-first-wrapper {
          .projects-left {
            width: 100%;
          }

          .projects-right {
            background-color: none !important;
            bottom: 0;
            padding: 0 3%;
            position: unset;
            right: 0;

            .views-field-title {
              a {
                font-size: 22px;
              }
            }

            .views-field-view-node {
              @include learn-more-button();
              margin: 15px 0 100px;
            }
          }
        }
      }
    }

    // Rest of the project view
    .view-content {
      .views-field-title {
        font-size: 22px;
        line-height: 26px;
      }

      .views-field-field-project-type {
        margin: 10px 0 0;
      }
    }
  }
}

.path-inside-bootwood {
  .views-field-body {
    padding: 0 5%;
    margin-top: 15px;
  }
}

// =======================
// RELATED PROJECTS BLOCK
// =======================

.block-releted-projects-block {
  padding: 0 3%;

  h2 {
    text-align: center;
    font-size: 42px;
  }
}

.related-projects-block .row {
  display: flex;
  justify-content: center;

  .wrapper {
    background-color: white;
    margin: 0 3% 5%;
    padding: 0;
    width: 30%;

    // image
    .views-field-field-project-gallery {}

    // where
    .views-field-field-project-where {
      border-bottom: 2px solid $bootwood-orange;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
      margin: 0 5%;
      text-transform: uppercase;
      width: max-content;
    }

    // title
    .views-field-title {
      font-size: 24px;
      margin: 2% 5% 0px;
    }

    // arrow
    .views-field-view-node {
      margin: 15px 0 40px 0;
      text-align: right;

      .field-content a {
        @include square-button-arrow-small-right();
      }
    }
  }

  @media screen and (max-width: $screen-md) {
    flex-direction: column;

    .wrapper {
      margin: 5% 0;
      width: 100%;
      .views-field-title {
        font-size: 18px;
      }

      .views-field-view-node {
        .field-content a {
          padding: 3px 22px;
        }
      }
    }
  }
}



// =======================
// Image with text section
// =======================

.paragraph--type--image-and-text {
  display: flex;
  margin-bottom: 80px;

  .field--name-field-image {
    align-self: center;
    flex: 0 0 51%;

    img {
      float: right;
    }
  }

  .field--name-field-text {
    align-self: center;
    padding: 0 25% 0 80px;
  }

  &.paragraph-inverted {
    flex-direction: row-reverse;

    .field--name-field-image img {
      float: none;
    }

    .field--name-field-text {
      padding: 0 80px 0 25%;

      @media screen and (max-width: $screen-md) {
        padding: 5%;
      }
    }
  }

  @media screen and (max-width: $screen-md) {
    &.paragraph-inverted {
      flex-direction: column;
    }
  }
}

.projects-back {
  color: $bootwood-orange;
  @include left_arrow();
  display: block;
  padding: 24px 57px;
  &::after {
    left: 33px;
  }
  @media screen and (min-width: $screen-md) {
    display: none;
  }
}

#filters-mobile-header {
  padding: 24px 0;
}
