.block-what-is-bootwood {

  .about-block {
    color: $bootwood-brown-dark;
    margin: 65px 10% 75px;
    max-width: 100%;
    @media screen and (max-width: $screen-xs) {
      margin: 60px 10%;
    }

    .about-title {
      margin-bottom: 40px;
      text-align: center;
      font-size: $bootwood-h2;
    }

    p {
      text-align: center;
    }
  }

  iframe {
    width: 80%;
    margin: 0 10%;
    @media screen and (min-width: 1800px) {
      height: 864px;
    }
    @media screen and (max-width: 1799px) and (min-width: 1600px) {
      height: 720px;
    }
    @media screen and (max-width: 1599px) and (min-width: 1440px) {
      height: 648px;
    }
    @media screen and (max-width: 1369px) and (min-width: $screen-lg) {
      height: 616px;
    }
    @media screen and (max-width: $screen-lg) and (min-width: $screen-md) {
      height: 461px;
    }
    @media screen and (max-width: $screen-md) and (min-width: $screen-sm) {
      height: 346px;
    }
    @media screen and (max-width: 767px) and (min-width: $screen-xs) {
      height: 288px;
    }
    @media screen and (max-width: $screen-xs){
      height: 100%;
    }
  }

  .about-desc {
    color: $bootwood-brown-dark;

    > p {
      margin: 0 10%;
      max-width: 100%;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .about-benefits {
      display: flex;
      justify-content: flex-end;
      text-align: center;
      //height: 400px;
      @media screen and (max-width: $screen-sm) {
        margin-bottom: 50px;
      }
      @media screen and (max-width: $screen-xs) {
        display: none;
      }

      .about-text {
        text-align: right;
        padding: 60px 0 50px 25%;
        @media screen and (max-width: $screen-md) {
          padding: 50px 0 50px 15%;
        }
        @media screen and (max-width: $screen-sm) {
          padding: 50px 0 50px 5%;
        }

        h1 {
          line-height: 1.3;
        }
      }

      .about-img {
        height: 320px;
        width: 250px;
        margin: 65px 25% 100px 80px;
        @media screen and (max-width: $screen-lg) {
          width: 520px;
        }
        @media screen and (max-width: $screen-md) {
          width: 650px;
        }
        @media screen and (max-width: $screen-sm) {
          margin: 65px 10% 100px 60px;
        }

        .benefits-text {
          text-transform: uppercase;
          position: absolute;
          font-size: 12px;
          font-weight: bold;
          margin-top: -165px;
          width: 200px;
        }
        p {
          line-height: 1.5;
          padding: 0 20px;
          font-size: 13px;
          position: absolute;
          width: 200px;
          margin-top: -85px;

        }
      }
    }
    .register-block {
      position: relative;

      img {
        width: 100%;
      }

    // PARALAX
      .img {
        height: 800px;
        background: url("../images/homepage/about-bottomimg.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media screen and (max-width: $screen-xs) {
          background-position-x: 62%;
          background-attachment: unset;
          background-size: 165%;
          height: 115vw;
        }
      }
      // END

      .register-btn {
        position: absolute;
        width: 30%;
        height: 6%;
        top: 50%;
        right: 10%;
        border: none;
        font-size: 25px;
        @media screen and (max-width: $screen-xs) {
          width: 85%;
          height: 11%;
          top: 80%;
        }
      }
    }
  }
}
